.nav {
  color: rgb(223, 223, 223);
  font-size: 14px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;

  &.scroll {
    background-color: var(--main-color);
  }

  .container {
    display: flex;
    padding: 0px 50px;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left {
      display: flex;
      align-items: center;
      img {
        height: 25px;
        margin-right: 40px;
      }
      span {
        margin-right: 20px;
        cursor: pointer;
        font-weight: 500;
      }
    }

    .right {
      display: flex;
      align-items: center;

      img {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        object-fit: cover;
        cursor: pointer;
      }
      .icon,
      span,
      img {
        margin-right: 20px;
        cursor: pointer;
      }

      .profile {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
        }
        span {
          padding: 10px;
          cursor: pointer;
          display: flex;
          align-items: center;
          .ic {
            font-size: 15px;
            margin-right: 3px;
          }
        }
        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
  }
}
